@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');

.navbar,
.navbar-default {
    background-image: linear-gradient(to bottom,white 0,white 100%);
    border-bottom: 0.03125rem solid;
    border-bottom-color: #9fa1a0;
}

.navbar-brand{
    color: black;
    font-weight: 400;
    font-family: "Varela Round";
    display:flex;
    align-items: center;
}

#logo-image{
    padding: 7px 14px;
    width: 11%;
}

.nav-link {
    color: black;
    font-weight: 400;
    font-family: "Varela Round";
}

#basic-nav-dropdown {
    color: #53565A;
}